<footer class="footer">
  
  <div class="footer__scrollbutton">
    <a class="scrollbutton__link" title="go up" href="#hero"
      ><img class="link__arrow" src="./assets/images/ico-arrow.svg" alt="scroll up" title="go up"
    /></a>
  </div>

  <nav class="footer__nav1">
    <ul class="nav__list">
      <li class="list__item">
        <a class="item__link" href="https://entradas.museodelprado.es/" alt="tickets" target="_blank"
          >tickets</a
        >
      </li>
      <li class="list__item">
        <a class="item__link" href="https://www.museodelprado.es/en/the-collection/timeline?layers=prado|||painting&layers-detail=WIKIDATA_PINTORES|||WIKIDATA_OBRAS_PINTORES|||PRADO_AUTORES|||PRADO_OBRAS&pInit=1475-1-1&pEnd=1507-1-1&search=http://museodelprado.es/items/E22_Man-Made_Object_02388242-6d6a-4e9e-a992-e1311eab3609_7f47dbbb-9a6f-40ed-b6f4-bd8b2a7cfa27&pActive=10405" alt="timeline" target="_blank">timeline</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://es.wikipedia.org/wiki/El_jard%C3%ADn_de_las_delicias" alt="wikipedia" target="_blank">wikipedia</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://www.youtube.com/watch?v=icLESpoS7rI&t=1s" alt="video" target="_blank">video</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://www.museodelprado.es/coleccion/artista/el-bosco/c9716e4a-4c24-44dd-ac65-44bc4661c8b5" alt="bio" target="_blank">bio</a>
      </li>
    </ul>
  </nav>

  <nav class="footer__nav2">
    <ul class="nav__list">
      <li class="list__item">
        <a class="item__link" href="https://twitter.com/barbsmoran" alt="my Twitter" target="_blank">my twitter</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://github.com/BarbaraMoran" alt="my GitHub" target="_blank"
          >my github</a
        >
      </li>
      <li class="list__item">
        <a class="item__link" href="https://www.linkedin.com/in/barbaramorandev/" alt="My Linkedin" target="_blank"
          >my linkedin</a
        >
      </li>
    </ul>
  </nav>

  <small class="footer__small"> <span class="copy">&copy;2021</span><span class="author"><i class="fas fa-code"></i> Bárbara Morán</small></span>
</footer>