<footer class="footer">
  <a class="footer__scrollbutton" title="3 Reasons to purchase" href="#hero"
    ><img src="./assets/images/ico-arrow.svg" alt="scroll down"
  /></a>

  <nav class="footer__nav">
    <ul class="nav__list">
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab"
          >articles</a
        >
      </li>
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab">books</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab">events</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab">reasons</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab">tips</a>
      </li>
    </ul>
  </nav>

  <nav class="footer__nav">
    <ul class="nav__list">
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab">twitter</a>
      </li>
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab"
          >instagram</a
        >
      </li>
      <li class="list__item">
        <a class="item__link" href="https://adalab.es/" alt="Adalab"
          >mastodon.social</a
        >
      </li>
    </ul>
  </nav>

  <small> &copy;2021 we <i class="fas fa-heart"></i> components</small>
</footer>
