<header class="header" id="hero">
  <nav class="header__linkcontainer">
    <a class="linkcontainer__link" title="Adalab" href="https://adalab.es/">
      <img class="link__img" src="./assets/images/ico-menu.svg" alt="menu" />
    </a>
  </nav>

  <h1 class="header__title">Anonymous proxy</h1>
  <h2 class="header__subtitle">In hac habitasse platea dictumst.</h2>

  <div class="header__linkcontainer2">
    <a
      class="linkcontainer2__link"
      title="3 Reasons to purchase"
      href="#reasons"
      ><img
        class="link__pic"
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down"
    /></a>
  </div>
</header>
