<header class="header" id="hero">
  <nav class="header__linkcontainer">
    <a
      class="linkcontainer__link"
      title="Shop"
      href="https://www.tiendaprado.com/en/search?controller=search&orderby=position&orderway=desc&search_query=bosch"
      target="_blank"
    >
      <img
        class="link__img"
        src="./assets/images/shop.png"
        alt="shop"
        title="shop"
      />
    </a>
  </nav>

  <h1 class="header__title">Hieronymus Bosch</h1>
  <h2 class="header__subtitle">Garden of Earthly Delights.</h2>

  <div class="header__linkcontainer2">
    <a
      class="linkcontainer2__link"
      title="3 Reasons to purchase"
      href="#reasons"
      ><img
        class="link__pic"
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down"
        title="scroll down"
    /></a>
  </div>
</header>
