<header class="header">
  <div class="header__container">
    <a class="container__link" title="Adalab" href="https://adalab.es/">
      <img class="link__img" src="./assets/images/ico-menu.svg" alt="menu"
    /></a>
  </div>
  <h1 class="header__title">Anonymous proxy</h1>
  <h2 class="header__subtitle">In hac habitasse platea dictumst.</h2>

  <div class="header__container2">
    <a class="header__scrollbutton" title="3 Reasons to purchase" href="#"
      ><img src="./assets/images/ico-scroll-down.svg" alt="scroll down"
    /></a>
  </div>
</header>
