<section class="section1">
  <article class="section1__article">
    <h3 class="article__subtitle">1490 - 1500. Grisaille, Oil on oak panel.</h3>
    <h2 class="article__title">The Garden of Earthly Delights Triptych</h2>
    <p class="article__text">
      The Garden of Earthly Delights is Bosch’s most complex and enigmatic
      creation. For Falkenburg the overall theme of The Garden of Earthly
      Delights is the fate of humanity, as in The Haywain (P02052), although
      Bosch visualizes this concept very differently and in a much more explicit
      manner in the centre panel of that triptych than in The Garden of Earthly
      Delights.
    </p>
  </article>

  <div class="section1__linkcontainer">
    <a
      class="linkcontainer__link"
      href="https://www.museodelprado.es/en/the-collection/art-work/the-garden-of-earthly-delights-triptych/02388242-6d6a-4e9e-a992-e1311eab3609"
      title="Prado Museum"
      target="_blank"
      >Prado Museum</a
    >
  </div>
</section>
