  <section class="section2">
      <h2 class="section2__title" id="reasons">3 scenes</h1>

     <article class="section2__reason">
         <h3 class="reason__title">Left panel</h3>
         <p class="reason__text">Paradise or Eden.</p>
     </article>
     <article class="section2__reason">
        <h3 class="reason__title">Center panel</h3>
        <p class="reason__text">Depicts a Paradise that deceives the senses, a false Paradise given over to the sin of lust. </p>
     </article>
    <article class="section2__reason">
        <h3 class="reason__title">Right panel</h3>
        <p class="reason__text">Hell.</p>
    </article>

    <div class="section2__link">
        <div class="link__linkcontainer">
        <a class="linkcontainer__link" target="_blank" href="https://www.youtube.com/watch?v=p-63oQ1iUVM&t=27s" title="Commented Works">Commented Works</a>
    </div>
    </div>
  </section>
