<section class="section2">
    <article class="section2__article">

      <h2 class="article__title" id="reasons">3 reasons to purchase</h1>
     <div class="article__reason">
         <h3 class="reason__title">Ut sed metus</h3>
         <p class="reason__text">Lorem ipsum dolor sit amet, consectetur.</p>
     </div>
     <div class="article__reason">
        <h3 class="reason__title">Curabitur ac erat</h3>
        <p class="reason__text">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="article__reason">
        <h3 class="reason__title">Morbi dictum</h3>
        <p class="reason__text">Aliquam in dolor et dolor tincidunt.</p>
    </div>

    <div class="article__link">
        <div class="article__linkcontainer">
        <a class="linkcontainer__link" href="#">More reasons</a>
    </div>
    </div>
    </article>

    
  </section>

