  <section class="section2">
      <h2 class="section2__title" id="reasons">3 reasons to purchase</h1>

     <article class="section2__reason">
         <h3 class="reason__title">Ut sed metus</h3>
         <p class="reason__text">Lorem ipsum dolor sit amet, consectetur.</p>
     </article>
     <article class="section2__reason">
        <h3 class="reason__title">Curabitur ac erat</h3>
        <p class="reason__text">Mauris mattis urna quis lorem molestie.</p>
     </article>
    <article class="section2__reason">
        <h3 class="reason__title">Morbi dictum</h3>
        <p class="reason__text">Aliquam in dolor et dolor tincidunt.</p>
    </article>

    <div class="section2__link">
        <div class="link__linkcontainer">
        <a class="linkcontainer__link" href="https://adalab.es/">More reasons</a>
    </div>
    </div>
  </section>
