.section1 {
  margin: 30px 15px 45px;
  text-align: left;
  background-color: #ffffff;

  &__article {
    line-height: 30px;

    .article__subtitle {
      font-family: $fontfamily;
      font-size: 14px;
      font-weight: lighter;
      color: #8ccbea;
    }

    .article__title {
      font-family: $font-title;
      text-transform: capitalize;
      font-size: 24px;
      margin-bottom: 15px;
    }

    .article__text {
      font-family: $fontfamily;
      font-size: 18px;
      color: #4a4a4a;
    }
  }

  &__linkcontainer {
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: #f26002 solid 2px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    .linkcontainer__link {
      line-height: 45px;
      font-size: 20px;
      text-align: center;
      color: #f26002;
      text-transform: capitalize;
      font-family: $fontfamily;
      font-weight: 500;
    }

    .linkcontainer__link:hover {
      color: #fff;
    }
  }

  &__linkcontainer:hover {
    background-color: #f26002;
  }
}

.section2__article {
  margin: 0px 15px 0px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 105px 3 (133px) 150px;
}
