.section2 {
  background-color: #eff9ff;
  padding: 0px 15px;
  line-height: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 105px 138px 138px 138px 105px;

  @media all and (min-width: 768px) {
    padding: 0px 39px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 172px 105px;
    column-gap: 27.7px;
  }

  @media all and (min-width: 1280px) {
    padding: 0px 85px 0px 81.2px;
    grid-template-rows: 150px 172px 105px;
    column-gap: 26.2px;
  }

  &__title {
    grid-column: span 1;
    font-family: $font-title;
    text-transform: capitalize;
    font-size: 24px;
    padding-top: 30px;
    text-align: center;

    @media all and (min-width: 768px) {
      line-height: 45px;
      grid-column: span 3;
      font-size: 26px;
    }

    @media all and (min-width: 1280px) {
      padding-top: 60px;
      font-size: 32px;
    }
  }

  &__reason {
    text-align: center;
    margin: 0px 55px;
    grid-column: span 1;

    @media all and (min-width: 768px) {
      margin: 0px;
    }

    .reason__title {
      font-family: $font-title;
      font-size: 18px;

      @media all and (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 14px;
      }
    }

    .reason__text {
      font-family: $fontfamily;
      font-size: 18px;
      color: #000000;

      @media all and (min-width: 768px) {
        font-size: 20px;
      }
    }
  }

  &__link {
    font-size: 20px;
    font-family: $fontfamily;
    text-align: center;
    grid-column: span 1;

    @media all and (min-width: 768px) {
      grid-column: span 3;
    }

    .link__linkcontainer {
      line-height: 45px;
      width: 184px;
      margin: auto;
      background-color: #f26002;
      border-radius: 22.5px;

      @media all and (min-width: 768px) {
        width: 210px;
      }

      @media all and (min-width: 1280px) {
        width: 255px;
      }

      .linkcontainer__link {
        display: block;
        color: #ffffff;
        width: 100%;
      }
    }

    .link__linkcontainer:hover {
      transform: scale(1.3);
    }
  }
}
