.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../images/cover.jpg") no-repeat;
  background-size: cover;
  position: relative;
  color: $headercolor;

  &__linkcontainer {
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-top: 50vh;
    margin-bottom: 10px;
    text-align: center;
    font-size: 42px;
    font-family: $fontfamily-title;
    text-transform: uppercase;
    word-spacing: 100vw;
    line-height: 55px;

    @media all and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 80px;
      line-height: 106px;
    }

    @media all and (min-width: 1280px) {
      margin-bottom: 0px;
      font-size: 100px;
      line-height: 132px;
    }
  }

  &__subtitle {
    margin-bottom: 45px;
    text-align: center;
    font-size: 16px;
    font-family: $fontfamily;
    font-weight: lighter;

    @media all and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__linkcontainer2 {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;

    .linkcontainer2__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
    }
  }
}
